<!-- Structure du modal -->
<div class="modalFormulaireContact">
	<div class="modal animate__animated animate__slideInUp fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header d-flex justify-content-center">
					<h4 class="modal-title" id="contactModalLabel">Vos attentes</h4>
					<button type="button" class="btn position-absolute end-0 me-2" data-bs-dismiss="modal" aria-label="Close">
						<img src="{{ asset('/images/close.svg') }}" alt="fermer le formulaire">
					</button>
				</div>
				<div class="modal-body">
					{{ form_start(contactForm, {'attr': {'class': 'contact-form'}}) }}
					<div class="row">
						<div class="col-md-6 formulaireContactInfo">
							{% if not app.user %}
								{{ form_row(contactForm.nom, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Votre nom'}}) }}
								{{ form_row(contactForm.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Votre email'}}) }}
								{{ form_row(contactForm.tel, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Numéro de tel'}}) }}
							{% else %}
								{{ form_row(contactForm.nom, {'attr': {'class': 'form-control mb-3', 'readonly': true, 'value': app.user.nom}}) }}
								{{ form_row(contactForm.email, {'attr': {'class': 'form-control mb-3', 'readonly': true, 'value': app.user.email}}) }}
								{{ form_row(contactForm.tel, {'attr': {'class': 'form-control mb-3', 'readonly': true, 'value': app.user.tel}}) }}
							{% endif %}
						</div>
						<div class="col-md-6">
							{{ form_row(contactForm.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message, exemple: Vos attentes,'}}) }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="buttonFermer" data-bs-dismiss="modal">Fermer</button>
					<button type="submit" class="buttonValider">Envoyer</button>
				</div>
				{{ form_end(contactForm) }}
			</div>
		</div>
	</div>
</div>
