{% extends 'components/navigation.html.twig' %}

{% block title %}SE CONNECTER
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		body {
			background-color: rgba(, 0, 0, 0.94);
		}
	</style>
{% endblock %}

{% block main %}

	<div id="loading-screen">
		<h6>Loading</h6>
		<span></span>
	</div>
	<div class="container my-5 animate__animated animate__backInLeft" id="form-container" style="display: none;">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card form-card">
					<div class="card-body">
						<h2 class="form-header">Se connecter</h2>
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3 text-center">
									Vous êtes déjà connecté
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}" class="btn btn-link">Déconnexion</a>
								</div>
							{% endif %}

							<div class="mb-3">
								<label for="inputEmail" class="form-label">Email :</label>
								<input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder="Email">
							</div>
							<div class="mb-3">
								<label for="inputPassword" class="form-label">Mot de passe :</label>
								<input type="password" class="form-control" name="password" id="inputPassword" autocomplete="current-password" required placeholder="Mot de passe">
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="mb-3 text-center">
								<a href="#" class="link-forgot-password">Mot de passe oublié ? cliquez ici !</a>
							</div>
							<div class="d-flex justify-content-around">
								<a class="btn btn-secondary" href="{{ path('app_register') }}">S'inscrire</a>
								<button class="btn btn-primary" type="submit" id="login-button">Connexion</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="load d-flex justify-content-center align-items-center mx-3">
		<div class="chart " style="display: none;">
			<div class="barload"></div>
			<span id="value1">100</span>
		</div>
	</div>

	<script src="{{ asset('/jsLogique/login.js') }}"></script>

{% endblock %}
